/* ------------------------- Global Rules ------------------------- */
:root {
  /* Global Colors */
  --black-color: #37373f;
  --white-color: #fff;
  --red-color: #ce1212;
  --brown-color: #c17e1f;
  --light-gray-text: #7f7f90;
  --light-gray-titles: #7d7d7d;
  --light-gray-bg: #eee;
  --dark-gray-bg1: #0d0d0d;
  --dark-gray-bg2: #171717;
  --dark-gray-bg3: #252525;
  --dark-gray-bg4: #202020;
  --contact-title: #adadad;
  /* Fonts */
  --default-font: "Open Sans", sans-serif;
  --titles-font: "Amatic SC", sans-serif;
  /* Transitions */
  --ease-out: 0.3s ease-out;
  /* Rounded Corners */
  --sm-rounded: 0.5rem;
}
body {
  /* Light Mode color Variabls */
  --background-color: var(--white-color);
  --text-color: var(--black-color);
  --text-accent-color: var(--red-color);
  --nav-bg-color: var(--white-color);
  --nav-text-color: var(--light-gray-text);
  --mode-icon-color: var(--black-color);
  /* hero colors */
  --hero-bg-color: var(--light-gray-bg);
  /* gallary */
  --gallery-bg: var(--light-gray-bg);
  /* Contacts */
  --contacts-bg: var(--background-color);
  --card-bg: hsl(0, 0%, calc(100% - 4%));
  /* Body Variabls */
  font-family: var(--default-font);
  background-color: var(--background-color);
  color: var(--text-color);
}
body.dark-mode {
  /* Dark Mode Color Variabls */
  --background-color: var(--dark-gray-bg3);
  --text-color: var(--white-color);
  --text-accent-color: var(--brown-color);
  /* navbar colors */
  --nav-bg-color: var(--dark-gray-bg2);
  --nav-text-color: var(--light-gray-text);
  --mode-icon-color: var(--white-color);
  /* hero colors */
  --hero-bg-color: var(--dark-gray-bg3);
  /* gallary */
  --gallery-bg: var(--dark-gray-bg3);
  /* Contacts */
  --contacts-bg: var(--dark-gray-bg4);
  --card-bg: var(--dark-gray-bg1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titles-font);
}
a {
  transition: var(--ease-out);
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 0.6rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.active {
  color: var(--text-color);
}
.hide {
  display: none;
}
.show {
  display: block;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title p {
  font-size: 0.9rem;
  color: var(--nav-text-color);
  text-transform: uppercase;
  margin-bottom: -0.5rem;
}
.title h2 {
  font-size: 3rem;
  font-weight: 300;
}
.title h2 span {
  color: var(--text-accent-color);
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* ------------------------- Navbar ------------------------- */
nav {
  padding: 1.563rem 0.313rem;
  background-color: var(--nav-bg-color);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}
nav .logo {
  --titles-font: "Open Sans", sans-serif;
  font-size: 1.875rem;
  letter-spacing: -1px;
}
nav .logo span {
  color: var(--text-accent-color);
}
nav .menu {
  padding-left: 0;
  list-style: none;
}
nav .menu li a {
  text-decoration: none;
  color: var(--nav-text-color);
  font-weight: 600;
  position: relative;
}
nav .menu li a.active,
nav .menu li a:hover {
  color: var(--text-color);
}
nav .menu li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--text-accent-color);
  transition: width var(--ease-out);
}
nav .menu li a:hover::after {
  width: 100%;
}
nav .menu li a.active::after {
  width: 100%;
  transition: none;
}
nav .mode i {
  color: var(--mode-icon-color);
  cursor: pointer;
}
/* ------------------------- Hero ------------------------- */
#hero {
  min-height: 100vh;
  background-color: var(--hero-bg-color);
}
#hero .container {
  min-height: inherit;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 95px;
}
#hero h1 {
  width: 60%;
  line-height: 1.2;
  font-size: 4.063rem;
  color: var(--text-color);
}
#hero p {
  margin: 1.5rem 0;
  color: var(--light-gray-text);
}
.btn {
  padding: 0.75rem 1.5rem;
  font-size: 0.9rem;
  background-color: var(--text-accent-color);
  color: var(--white-color);
  border: none;
  border-radius: 50rem;
  cursor: pointer;
  transition: var(--ease-out);
}
#hero .hero-btn-primary {
  border-top-left-radius: 0;
}
#hero .hero-btn-primary:hover {
  background-color: hsl(0, 84%, calc(44% + 5%));
}
#hero .hero-btn-secondary {
  background-color: transparent;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  padding-left: 3rem;
}
#hero .hero-btn-secondary:hover {
  color: var(--text-accent-color);
}
#hero .hero-btn-secondary::before {
  content: "";
  background-color: var(--text-accent-color);
  width: 50px;
  height: 50px;
  clip-path: circle(49.3% at 100% 50%);
  padding: 1rem;
  position: absolute;
  left: -2rem;
  top: 0;
  z-index: -1;
}
#hero .hero-btn-secondary::after {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  background-color: var(--background-color);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0.25rem;
  left: 0;
}
#hero .hero-img {
  width: 40%;
  filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.667));
}
#hero .hero-img:hover {
  animation: shake 1s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* ------------------------- Chefs ------------------------- */
#chefs {
  padding: 5rem 0;
}
body.dark-mode #chefs {
  background-color: var(--dark-gray-bg4);
}
#chefs .chef {
  background-color: var(--background-color);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: var(--sm-rounded);
  flex-basis: 100%;
  transition: var(--ease-out);
  position: relative;
  overflow-x: hidden;
}
#chefs .chef:hover {
  transform: scale(1.07);
}
#chefs .chef:hover .social {
  right: 1rem;
}
#chefs .chef .social {
  background-color: rgba(255, 255, 255, 0.302);
  position: absolute;
  z-index: 1;
  right: calc((-1.2rem * 2 - (55px / 2)));
  top: 2rem;
  padding: 1.2rem;
  border-radius: var(--sm-rounded);
  transition: var(--ease-out) 0.5s;
}
#chefs .chef .social a {
  color: rgba(55, 55, 63, 0.4);
}
#chefs .chef .social a:hover {
  color: rgba(55, 55, 63, 0.902);
}
#chefs .chef .chef-img {
  border-radius: inherit;
  position: relative;
}
#chefs .chef .chef-img img {
  border-radius: inherit;
  width: 100%;
}

#chefs .chef-img svg {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
}
#chefs .chef-img svg path {
  fill: var(--background-color);
}
#chefs .chef-info {
  padding: 0 1rem 1rem;
  text-align: center;
}

#chefs .chef-info .chef-name {
  font-family: var(--default-font);
  margin-bottom: 0.25rem;
}
#chefs .chef-info .chef-job {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--light-gray-titles);
}
#chefs .chef-info .chef-desc {
  font-size: 0.9rem;
  color: var(--light-gray-titles);
  font-style: italic;
}
/* ------------------------- Gallery ------------------------- */
#gallery {
  min-height: 100vh;
  padding: 5rem 0;
  background-color: var(--gallery-bg);
}
body.dark-mode #gallery {
  background-color: var(--dark-gray-bg3);
}
#gallery .container {
  min-height: inherit;
}
#gallery .container .gallery {
  min-height: inherit;
}
#gallery .col {
  flex-basis: 33.333%;
}
#gallery .col > * {
  border: 5px solid var(--white-color);
  overflow: hidden;
  position: relative;
  transition: var(--ease-out);
}
#gallery .col .overlayer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--white-color);
  transform: translateY(105%);
  transition: var(--ease-out);
  text-align: center;
  opacity: 0;
}
#gallery .col .overlayer h3 {
  font-family: var(--default-font);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
#gallery .col .overlayer p {
  font-size: 0.9rem;
  padding-inline: 1.5rem;
}
#gallery .col img {
  transition: var(--ease-out);
}
#gallery .col > *:hover img {
  transform: scale(1.07);
}
#gallery .col > *:hover .overlayer {
  transform: translateY(0);
  opacity: 1;
}
#gallery .col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Column 1 */
#gallery .col-1 .top {
  flex-basis: 30%;
}
#gallery .col-1 .bottom {
  flex-basis: 70%;
}
/* Column 2 */
#gallery .col-2 .top {
  flex-basis: calc(60% + 2rem);
}
#gallery .col-2 .bottom {
  flex-basis: 40%;
}
/* Column 3 */
#gallery .col-3 .top {
  flex-basis: 30%;
}
#gallery .col-3 .middle {
  flex-basis: 30%;
}
#gallery .col-3 .bottom {
  flex-basis: 40%;
}
/* ------------------------- Gallery ------------------------- */
#contact {
  padding: 5rem 0;
  background-color: var(--contacts-bg);
}
#contact .map {
  height: 35vh;
}
#contact .cards {
  width: 100%;
}
#contact .wrap {
  flex-basis: 50%;
}
#contact .card {
  background-color: var(--card-bg);
  padding: 1.5rem;
}
#contact .card .icon {
  background-color: var(--text-accent-color);
  color: var(--nav-bg-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#contact .card .info h3 {
  font-size: 1.3rem;
  font-family: var(--default-font);
  color: var(--contact-title);
}
#contact .card .info a {
  text-decoration: none;
  color: var(--text-color);
}
#contact .card .info p span {
  font-weight: 700;
  color: var(--text-color);
}
#contact .form {
  background-color: var(--nav-bg-color);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 3px;
}
#contact .form .row-1 {
  margin-bottom: 1rem;
}
#contact .form .row-1 .form-group {
  flex-basis: 50%;
}
#contact .form .row-1 .form-group input,
#contact .subject input {
  width: 100%;
  padding: 1rem;
}
#contact .form .row-1 .form-group input,
#contact .subject input,
#contact .form .form-group textarea {
  border: 2px solid hsl(0, calc(0% + 10%), calc(100% - 10%));
  transition: var(--ease-out);
  outline: none;
}
body.dark-mode ~ #contact .form .row-1 .form-group input,
body.dark-mode ~ #contact .subject input,
body.dark-mode ~ #contact .form .form-group textarea {
  border-color: var(--dark-gray-bg4);
}
#contact .form .row-1 .form-group input:focus,
#contact .subject input:focus,
#contact .form .form-group textarea:focus {
  border-color: var(--text-accent-color);
}
#contact .form .subject {
  margin-bottom: 1rem;
}
#contact .form .form-group textarea {
  width: 100%;
  padding: 1rem;
  resize: vertical;
}
.mt-1 {
  margin-top: 2rem;
}
#contact button {
  padding: 0.75rem 2.5rem;
  transition: var(--ease-out);
}
#contact button:hover {
  background-color: hsl(0, 84%, calc(44% + 5%));
}
/* ------------------------------------- Footer ------------------------------------- */
footer {
  padding: 2rem 0;
  background-image: url("../images/textured-metal-background.jpg");
  color: var(--white-color);
}
footer h4,
footer h3 {
  font-family: var(--default-font);
}
footer .left .logo {
  margin-bottom: 1rem;
}
footer .left .logo img {
  width: 50px;
  height: 50px;
}
footer .left .logo .title {
  font-family: var(--default-font);
  font-size: 2rem;
  margin: auto 0;
}
footer .left .logo .title span {
  color: var(--text-accent-color);
}
footer h4 {
  text-align: center;
  margin: 1rem 0;
}
footer .social {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
}
footer .social > * {
  color: var(--white-color);
}

footer .middle h4,
footer .right h4 {
  text-align: left;
}
footer .middle .search {
  margin: 1rem 0;
  gap: 0.4rem;
}
footer .middle .search input {
  flex-grow: 1;
  padding: 0.5rem;
}
footer .middle .search button {
  border-radius: 0;
}
footer .links .start {
  flex-basis: 50%;
}
footer .links .start > *:not(:last-child) {
  margin-bottom: 0.3rem;
}
footer .links a {
  color: var(--white-color);
  text-decoration: none;
  display: block;
  padding: 0.3rem;
  border-radius: 2px;
}
footer .links a i {
  margin-right: 0.5rem;
}
footer .links a:hover {
  background-color: #222;
  transform: translateX(0.5rem);
}
footer .right i {
  color: var(--text-accent-color);
}
footer .right a {
  color: var(--white-color);
  text-decoration: none;
}
footer .right p:not(:last-child) {
  margin-bottom: 1rem;
}

footer .left {
  flex-grow: 1;
  flex-shrink: 2;
  order: 1;
}
footer .middle {
  flex-grow: 2;
  order: 2;
}
footer .right {
  flex-grow: 1;
  order: 3;
}
footer p,
footer a {
  font-size: 0.9rem;
}
footer h4 {
  font-size: 1.2rem;
}

/* ------------------------- sideBar ------------------------- */
#sideBar {
  position: fixed;
  inset: 0;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 1000;
  transition: var(--ease-out);
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#sideBar .menu {
  background-color: var(--white-color);
  height: 100%;
  width: 30vw;
  margin-left: auto;
  padding: 1rem;
  animation: fadeLeft 0.5s;
}
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(105%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#sideBar .menu,
#sideBar .links {
  display: flex;
  flex-direction: column;
}
#sideBar .menu button {
  align-self: flex-end;
  margin-bottom: 2rem;
  border: 1px solid var(--text-accent-color);
  color: var(--text-accent-color);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.7;
  cursor: pointer;
}
#sideBar .links {
  padding: 0;
  list-style: none;
  gap: 2rem;
}
#sideBar .links a {
  text-decoration: none;
  color: var(--black-color);
}
#sideBar .links a:hover {
  color: var(--text-accent-color);
}
