/* Global Rules */
.clear-fix {
  clear: both;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}
a.active {
  color: #ff305b;
}
body {
  font-family: sans-serif;
}
/* Hero Section */
#hero {
  height: 100vh;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#hero .bg-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Header */
#header {
  padding: 23px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
#header .logo {
  font-size: 24px;
  font-weight: 800;
  color: #ff305b;
  margin-bottom: 16px;
}
#header .menu {
  list-style: none;
  padding: 1rem 0;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.95);
}
#header .menu .active {
  color: #ff305b;
}
#header .menu li {
  margin-bottom: 1rem;
}
#header .menu li a {
  text-decoration: none;
  color: #fff;
}
/* Hero Content */
#hero .hero-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
#hero .hero-content .sub-title {
  font-size: 24px;
  font-weight: 700;
}
#hero .hero-content h1 {
  font-size: 65px;
  font-weight: 700;
  color: #ff305b;
  text-transform: uppercase;
}
#hero .hero-content p {
  font-size: 24px;
  font-weight: 100;
}
/* About Section */
#about {
  padding: 100px 0;
}
#about .bg-border {
  border: 7px solid #505050;
  float: left;
  /* width: 50%; */
  border-radius: 10px;
  position: relative;
}
#about .about-img {
  position: relative;
  top: 25px;
  left: 25px;
  overflow: hidden;
  width: 100%;
}
#about .about-img img {
  border-radius: 5px;
}
#about .about-img:hover .social {
  opacity: 1;
  transform: translateY(0);
}
#about .social {
  background-color: rgba(34, 34, 34, 0.5);
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 5px;
  transform: translateY(110%);
  transition: 0.3s ease-out;
}
#about .social .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#about .social .icons a {
  color: white;
  transition: 0.3s ease-out;
  font-size: 20px;
}
#about .social .icons a:not(:last-child) {
  margin-right: 10px;
}
#about .social .icons a:hover {
  color: #ff305b;
}
#about .about-content {
  width: 100%;
  float: right;
  margin-top: 50px;
}
#about .about-content h2 {
  text-transform: uppercase;
}
#about .about-content h2::before {
  content: "";
  border-left: 3px solid #ff305b;
  margin-right: 10px;
}
#about .about-content .discription {
  padding: 25px 0;
  line-height: 1.6;
  color: #555555;
  border-bottom: 1px dashed #999;
}
#about .about-info {
  width: 100%;
}
/* #about .left-info {
  float: left;
}
#about .right-info {
  float: right;
} */
#about .about-info p {
  margin: 20px 0;
  color: #555555;
}
#about .about-info p strong {
  color: #333;
}
#about .about-info p a {
  text-decoration: none;
  color: #999;
}
button {
  background-color: #ff305b;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-out;
}
#about button i {
  margin-left: 5px;
}
#about .about-actions > :first-child {
  margin-right: 10px;
}
button:hover {
  background-color: rgb(236, 36, 3);
}
/* services */
#services {
  background-color: #f1f1f1;
  padding: 80px 0 50px;
  text-align: center;
}
.title {
  font-size: 30px;
  margin-bottom: 50px;
}
.title h2 {
  position: relative;
  text-align: center;
}
.title h2::after {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 11px;
  border: 1px solid #ff305b;
  border-right-color: transparent;
  border-left-color: transparent;
}
.title h2::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: #ff305b;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
}
#services .service {
  float: left;
  padding: 40px 15px;
  border-radius: 5px;
  transition: 0.3s ease-out;
}
#services .service:hover {
  background-color: #fff;
  box-shadow: 5px 5px 25px rgba(34, 34, 34, 0.1);
}
#services .service h3 {
  margin: 15px 0;
  font-size: 20px;
  color: #333;
}
#services .service i {
  color: #ff305b;
  font-size: 30px;
}
#services .service p {
  color: #999;
}
/* Portfolio */
#portfolio {
  padding: 80px 0;
}
#portfolio .portfolio-nav {
  list-style: none;
  width: fit-content;
  margin: 0 auto 50px;
}
#portfolio .portfolio-nav li {
  float: left;
}
#portfolio .portfolio-nav li:not(:last-child) {
  margin-right: 50px;
}
#portfolio .portfolio-nav li a {
  text-decoration: none;
  color: #222;
}
#portfolio .portfolio-nav li .active {
  color: #ff305b;
}

#portfolio .gallary .wrap {
  /* width: 100%; */
  margin-bottom: 20px;
  float: left;
  padding: 0 10px;
}
#portfolio .gallary .portfolio-item {
  position: relative;
  cursor: pointer;
}
#portfolio .gallary .portfolio-item:hover .bg-hover {
  opacity: 1;
}
#portfolio .gallary .portfolio-item .bg-hover {
  position: absolute;
  inset: 0;
  background-color: rgba(34, 34, 34, 0.5);
  opacity: 0;
  transition: 0.3s ease-out;
}
#portfolio .gallary .portfolio-item .bg-hover i {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ff305b;
  font-size: 23px;
}
/* numbers */
#numbers {
  padding: 80px 0;
  background-color: #f1f1f1;
}
#numbers .number {
  width: 25%;
  float: left;
  text-align: center;
}
#numbers .number i {
  font-size: 30px;
  color: #ff305b;
}
#numbers .number h3 {
  margin: 10px 0;
  font-size: 23px;
}
#numbers .number p {
  font-weight: 600;
  color: #555555;
}
/* testimonials */
#testimonials {
  padding: 80px 0;
}
#testimonials .card {
  width: 65%;
  background-color: #f1f1f1;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 50px 35px;
}
#testimonials .card .card-img {
  float: left;
  width: 20%;
}
#testimonials .card .card-info {
  float: left;
  width: 80%;
}
#testimonials .card .card-info h3 {
  font-size: 25px;
}
#testimonials .card .card-info .location,
#testimonials .card .card-info .location a {
  color: #777777;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
#testimonials .card .card-info .location {
  margin: 5px 0;
}
#testimonials .card .card-info .stars {
  color: #f1c30d;
}
#testimonials .card .card-info .feedback {
  color: #555;
  font-style: italic;
  margin: 10px 0;
}
#testimonials .card .card-img img {
  width: 125px;

  border-radius: 50%;
}
#testimonials .card::before {
  content: "";
  position: absolute;
  background-color: #ff305b;
  width: 300px;
  height: 300px;
  left: -150px;
  bottom: 50%;
  transform: rotate(45deg);
  z-index: -1;
}
#testimonials .change {
  margin: 20px auto 0;
  width: 35px;
  height: 12px;
  border-radius: 12px;
  background-color: #ff305b;
  position: relative;
}
#testimonials .change:after {
  content: "";
  position: absolute;
  right: -17px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #ff305b;
}
/* blog */
#blog {
  padding: 80px 0;
  background-color: #f1f1f1;
}
#blog .wrap {
  width: 33.333%;
  float: left;
  padding: 0 10px;
}
#blog .blog {
  background-color: #fff;
}
#blog .blog .blog-media {
  background-color: #222;
  height: 200px;
}
#blog .blog-content {
  padding: 20px;
}
#blog .blog-content .date {
  margin-bottom: 10px;
}
#blog .blog-content .discription {
  margin: 10px 0;
}
#blog .blog-content p {
  color: #555555;
}
#blog .blog-content h3 {
  font-size: 23px;
  text-transform: capitalize;
}
#blog .blog-content a {
  color: #333;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s ease-out;
}
#blog .blog-content a:hover {
  color: #ff305b;
}
/* contact */
#contact {
  padding: 80px 0;
}
#contact form {
  width: 70%;
  margin: 0 auto;
}
#contact form .row:first-child .input {
  width: 50%;
  float: left;
}
#contact form .row:first-child .mr-5 {
  padding-right: 20px;
}
#contact form .row:first-child .input input {
  width: 100%;
}
#contact form input,
#contact form textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
}
#contact form textarea {
  height: 150px;
  resize: vertical;
}
#contact form .row:not(:last-child) {
  margin-bottom: 20px;
}
/* Footer */
#footer {
  padding: 80px 0;
  background-color: #333333;
  color: #fff;
  text-align: center;
}
#footer a {
  color: #ff305b;
  text-decoration: none;
  transition: 0.3s ease-out;
}
#footer a:hover {
  color: #fff;
}
#footer .icons {
  margin-bottom: 12px;
}
#footer .icons a {
  color: #fff;
  transition: 0.3s ease-out;
}
#footer .icons a:not(:last-child) {
  margin-right: 20px;
}
#footer .icons a:hover {
  color: #ff305b;
}
